:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

* {
  outline: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

form {
  text-align: center;
}

#deck-title,
#card-text {
  margin: 0 10px;
}

.decks,
.cards {
  list-style: none;
  padding: 0px;
  display: grid;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 1.2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  color: black;
}

.deck,
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 110px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  overflow: scroll;
}

.trash-icon {
  position: absolute;
  right: 2%;
  top: 5%;
  cursor: pointer;
  z-index: 999;
}

.edit-icon {
  color: black;
  position: absolute;
  left: 2%;
  top: 5%;
  cursor: pointer;
  z-index: 999;
}

@media screen and (max-width: 750px) {
  .decks,
  .cards {
    width: 500px;
  }
}

@media screen and (max-width: 550px) {
  .decks,
  .cards {
    width: 300px;
    grid-template-columns: repeat(2, 1fr);
  }
  form {
    font-size: 12px;
  }
}
